@tailwind base;
@tailwind components;
@tailwind utilities;

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.grad-hover {
    background:
        linear-gradient(
        to right,
        #e2e8f0,
        #e2e8f0
        ),
        linear-gradient(
        to right,
        #34d399,
        #7dd3fc,
        #1d4ed8
    );
    background-size: 100% 5px, 0 5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.grad-hover:hover {
    background-size: 0 5px, 100% 5px;
}

.code > pre {
    border-radius: 0.25rem;
}

.article-body table, ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.toc {
    /* 目次のスタイル */
}
.toc li {
    /* 目次のリストのスタイル */
    padding-left: 1rem;
    width: 100%;
    list-style-position: inside;
    line-height: 1.8rem;
}
.toc a {
    /* 目次のリンクのスタイル */
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #E5E7EB;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.toc a.is-active-link {
    /* 現在アクティブになっている目次のスタイル */
    font-weight: bold;
    background-color: #E5E7EB;
}