@tailwind base;
@tailwind components;
@tailwind utilities;

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.grad-hover {
    background:
        linear-gradient(
        to right,
        #e2e8f0,
        #e2e8f0
        ),
        linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.grad-hover:hover {
    background-size: 0 3px, 100% 3px;
}

.code > pre {
    border-radius: 0.25rem;
}